
#navbar{
    background-color: white;
    border:solid 0.5px rgb(225, 221, 221);
    border-radius: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#navbar h1{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#create-btn{
    background-color: white;
    font-size: 1.2rem;
    border:solid 0.5px rgb(225, 221, 221);
    border-radius: 7px;
    padding: 5px;
    transition: all;
}
#create-btn:hover{
    background-color: rgb(117, 112, 112);
    color: white;
}

.search-btn{
    background-color: white;
    border:solid 0.5px rgb(140, 136, 136);
    border-radius: 7px;
    padding: 5px;
    transition: all;
}
.search-btn:hover{
    background-color: rgb(117, 112, 112);
    color: white;
}


#container{
    background-color: #f4f5f7;
    border:solid 0.5px #dacece;
    border-radius: 7px;
    width:25%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

#container h1{
   align-self: center;
   margin: 10px;
   font-variant: small-caps;
}
#taskcard{
  list-style-type: none;
  border: solid 1px #9b8c8c;
  border-radius: 10px;
  padding: 8px;
  background-color: #ffffff;
  margin-bottom: 8px;
  min-height: 90px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer; 
  display: block;
  position: relative;
}
#taskcard:active {
    background-color: #fff7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

#delete-btn{
    background-color: white;
    border:none;
    border-radius: 7px;
    font-size: small;
    position: absolute;
  bottom: 2px;
  right: 2px;
}

#delete-btn:hover{
    color: rgb(208, 34, 34);
}

#title{
    font-size: large;
}
#descp{
    font-size: small;
}

#form{
    background-color: white;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    height: 45%;
    width: 40%;
    align-content: center;
    font-variant: small-caps;
}
#form-title{
    font-size: x-large;
}
#form-descp{
    font-size: x-large;
}

#add-btn{
    background-color: white;
    border:solid 0.5px rgb(140, 136, 136);
    border-radius: 7px;
    padding: 5px;
    transition: all;
    width: 5rem;
    margin-top: 10px;
}
#add-btn:hover{
    background-color: rgb(117, 112, 112);
    color: white;
}
#form h1{
    font-variant: small-caps;
    color: rgb(81, 75, 75) ;
}